{% extends 'layout.html.twig' %}

{% block content %}

<div>
    <h2> Bienvenue la section Forum.</h2>
    <p>, vous pouvez ici partager tout ce qui vous voulez en dehors des thèmes principaux.</p>
    <p><a class="btn btn-primary btn-lg" href="{{ path('forum_regles') }}" role="button">Règles du forum</a></p>
</div>

{% for subject in subjects %}
    <div>
        {{ subject.name }}
    </div>
{% endfor %}

{% endblock %}