{% extends 'layout.html.twig' %}

{% block content %}



<div>
    <h3>Les règles du forum</h3>
</div>

<div>
    <p>
        Le forum est un espace web dynamique permettant à différentes personnes de communiquer. Il est généralement composé de différents sujets de discussion, correspondant chacun à un échange sur un thème particulier. Il s’organise en sujets, avec un thème, et comporte généralement des sous-sujets (les différentes discussions) comportant les postes des différents utilisateurs.
        Notre forum a été créé pour permettre aux utilisateurs d’échanger leurs expériences, de partager leurs bons plans et de demander conseils aux autres étudiants sur la vie de tous les jours, comme les transports, les demandes d’aides, etc. N’hésitez pas à engager la discussion et à partager vos expériences avec les étudiants de France.
    </p>
    <p>
        Pour pouvoir participer au forum dans son intégralité, il faut avant tout posséder un compte sur notre site quark.website, sans celui-ci, il ne sera possible que de voir les différentes discussions, mais en aucun cas de participer à celles-ci.
    </p>
</div>

{% endblock %}