{% block content %}

    <h2>Mes créations</h2>

    <div class="row">

        {% for activity in activities %}
            {% set var = {'activity': activity} %}
            {% include 'activity/activity_list_partial.html.twig' %}
        {% endfor %}

    </div>

{% endblock %}
