{% extends 'layout.html.twig' %}


{% block content %}

    <div>
        <h1>Bienvenue sur Quark !</h1>
    </div>

    <div>
        <h2>Politique de confidentialité</h2>
    </div>

    <div>
        <p>Quark.fr est un service en ligne qui recommande aux jeunes et aux étudiants des bon plans, hôtels, chambres
            d'hôtes, restaurants, soirées, évènements, etc. Notre site web, les propriétés mobiles et les applications
            associées (collectivement, notre « site web ») constituent le réseau Quark®, lequel est géré par notre
            groupe de travail qui en est le propriétaire.
            En accédant à notre site web et en utilisant nos services, vous reconnaissez avoir lu et compris la présente
            Politique de confidentialité, ainsi que les pratiques de collecte et de gestion des informations qui y sont
            décrites.
            La dernière mise à jour de la présente Politique de confidentialité a été effectuée le 07Juillet 2016. Nous
            pouvons à tout moment la modifier et nous vous invitons à la consulter régulièrement afin d'être informé des
            éventuelles mises à jour.
            La présente Politique de confidentialité décrit en détail notre politique et nos pratiques concernant la
            collecte, l'utilisation et la divulgation d'informations à votre sujet.
            Nous sommes conscients de la confiance que vous nous accordez lorsque vous indiquez des informations en
            ligne. Nous y attachons la plus grande importance et nous nous engageons au plus haut point afin de garantir
            la sécurité et la confidentialité des informations personnelles que vous nous confiez lorsque vous consultez
            notre site web ou utilisez nos services.</p>
    </div>

{% endblock %}