{% extends 'layout.html.twig' %}


{% block content %}

    <div>
        <h1>quark.website application</h1>
    </div>

    <div>
        <h2>Politique de confidentialité</h2>
    </div>

    <div>
        <p>      
            Quark.website est un service en ligne qui partage aux jeunes et aux étudiants des bons plans, hôtels, chambres d'hôtes, restaurants, soirées, évènements, etc. Notre site web, les propriétés mobiles et les applications associées (collectivement, notre « application web ») constituent le réseau quark.website, lequel est géré par notre groupe de travail qui en est le propriétaire.
            En accédant à notre site web et en utilisant nos services, vous reconnaissez avoir lu et compris la présente Politique de confidentialité, ainsi que les pratiques de collecte et de gestion des informations qui y sont décrites.
            La dernière mise à jour de la présente Politique de confidentialité a été effectuée le 23 août 2016. Nous pouvons à tout moment la modifier et nous vous invitons à la consulter régulièrement afin d'être informé des éventuelles mises à jour.
            La présente Politique de confidentialité décrit en détail notre politique et nos pratiques concernant la collecte, l'utilisation et la divulgation d'informations à votre sujet.
            Nous sommes conscients de la confiance que vous nous accordez lorsque vous indiquez des informations en ligne. Nous y attachons la plus grande importance et nous nous engageons au plus haut point afin de garantir la sécurité et la confidentialité des informations personnelles que vous nous confiez lorsque vous consultez notre site web ou utilisez nos services.
        </p>
        
        <h3>Teneur des informations collectées</h3>
        <p>
            Nous collectons et stockons les informations que vous indiquez sur notre application ou que vous nous transmettez par tout autre moyen. Celles-ci peuvent être utilisées pour vous identifier ou vous contacter directement et constituent vos informations personnelles.
            <br />
            Les informations personnelles incluent les informations que vous nous indiquez, notamment vos nom et prénom, votre numéro de téléphone, adresses postale et électronique, votre pseudonyme et mot de passe.
            <br />
            Vous pouvez décider de ne pas nous communiquer ce type d'informations personnelles. Cependant, sans ces informations, vous ne pourrez profiter de l’ensemble des services que vous nous proposons. Ainsi, seuls les membres enregistrés peuvent écrire un avis, poster de nouveaux bons plans, participer aux forums de discussion, envoyer par e-mail des informations, accéder aux newsletters réservées aux membres, répondre à des enquêtes, participer à des jeux-concours ou à des tirages au sort. 
            <br />
            Parmi les autres informations que nous pouvons avoir besoin de collecter figurent également votre adresse IP, les données d'identification de votre appareil et l'historique de navigation au sein de notre site web, dans la mesure où ces informations vous concernent.
        </p>
        <h3>Informations concernant des tiers</h3>
        <p>
             Toute information concernant des tiers ne peut être publiée sans leur consentement. L’utilisateur est seul responsable de ses déclarations.
        </p>
        <h3>Informations issues de sources</h3>
        <p>
            Il se peut que vous ayez à relayer des informations issues de différentes sources. Vous devez systématiquement les nommés.
        </p>
        <h3>Collecte d’informations</h3>
        <p>
            Nous collectons automatiquement des informations à partir des outils que vous utilisez pour accéder à notre application. Nous collectons vos données de session, comme votre adresse IP, le navigateur web utilisé. Nous pouvons également collecter des informations relatives à votre activité en ligne (contenu visionné, pages visitées, recherche, …). Ces informations nous permettent de mieux cerner vos centres d'intérêts et préférences qui nous permettrons de personnaliser au mieux votre expérience utilisateur.
        </p>
        <h3>Cookies</h3
        <p>
            Nous collectons des informations via les cookies et d'autres technologies similaires. 
            Les cookies sont de petits fichiers texte placés automatiquement sur votre ordinateur ou votre appareil mobile lorsque vous visitez pratiquement tout site web. Ils sont stockés par votre navigateur Internet. Les cookies contiennent des informations basiques sur votre utilisation d'Internet. Votre navigateur renvoie ces cookies au site à chaque fois que vous le visitez, de façon à ce qu'il reconnaisse votre ordinateur ou votre appareil mobile afin de personnaliser et d'améliorer votre expérience de navigation.
            Vous trouverez plus de détails sur les cookies et les technologies similaires que nous utilisons dans notre Politique en matière de cookies et notre outil Accord d'utilisation des cookies.
            Vous trouverez également de plus amples informations sur les cookies en général et, notamment, comment voir quels cookies sont installés sur votre appareil et comment les gérer et les supprimer sur www.allaboutcookies.org/fr et http://www.youronlinechoices.com/fr/
            Quark.website utilise des cookies pour remplir les objectifs généraux suivants :
            <UL TYPE="square">
                <LI>Identifier votre navigateur web, enregistrer et se souvenir de vos éventuelles préférences définies lors de votre visite précédente. Ils peuvent, par exemple, garder vos informations de connexion dans un cookie crypté et vous permettre d’arriver directement connecté, sur l’application, sans avoir besoin de les retaper.
                <LI>Personnaliser votre expérience de navigation, en effet, nous enregistrons vos préférences pour vos prochaines utilisations, afin de vous proposer dès le ==la page d’accueil des offres qui vous correspondent. 
            </UL>
            L'option Aide figurant sur la barre d'outils de la plupart des navigateurs devrait vous indiquer comment empêcher votre navigateur d'accepter de nouveaux cookies, comment recevoir une notification lorsque vous recevez un nouveau cookie, ou comment désactiver les cookies qui ne sont pas utiles. Notez que si vous refusez les cookies, vous ne pourrez peut-être pas accéder à nos services.
        </p>
        <h3>Publicités</h3>
        <p>
            Quark.website s’engage à vous fournir du contenu et des informations pertinentes correspondant à chaque profil d’utilisateur sur l’ensemble de son application. Nous utilisons par exemple, vos informations de navigations sur l’application pour vous faire découvrir des offres correspondant à vos centres d’intérêts. Certaines informations peuvent être communiqué à nos partenaire, tel que vos centres d’intérêts, vos préférences, … Aucune information personnelle n’est divulguée. 
        </p>
        <h3>II.1.5.g. Conservation des données</h3>
        <p>
            Nous privilégions la relation client et souhaitons que vous utilisiez cette application en toute confiance. Nous avons fait tout notre possible pour sécuriser vos données. Toute donnée illégale ou non autorisée sera supprimée. La conservation de vos donnée n’est pas définit par avance. Vous avez la possibilité via la demande de contact, de nous demander de supprimer toutes vos informations personnelles. Par contre, tous ce que vous avez postés dans notre application est la propriété de quark.website et par conséquent ne sera pas supprimé.
        </p>
        <h3>Modifications apportées à la politique de confidentialité</h3>
        <p>
            Quark.website pourra être amené à modifier la présente Politique de confidentialité. Nous ajoutons à chaque modification, en haut de la page le numéro de révision ainsi que sa date d’application. Nous vous invitons à consulter régulièrement notre politique de confidentialité car à partir du moment où vous utilisez l’application vous acceptez automatiquement la politique de confidentailité.
        </p>
        <h3>Modalités pour nous contacter</h3>
        <p>
        Pour toute question ou demande vous pouvez nous contacter via le formulaire de contact.


        </p>
    </div>

{% endblock %}