{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <style>

        body {
            background: url("{{ asset('assets/image/welcome.jpg') }}") no-repeat fixed;
        }

        .jumbotron {
            background: none !important;
        }

    </style>
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>Bienvenue sur Quark !</h1>
        <p>Découvrez des restaurants, bar, événements près de chez vous !</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a></p>
    </div>


    <div class="row">

    {% for activity in activities %}
        {% set var = {'activity': activity} %}
        {% include 'activity/activity_list_partial.html.twig' %}
    {% endfor %}

    </div>


{% endblock %}
