{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <style>

        body {
            background: url("{{ asset('assets/image/welcome.jpg') }}") no-repeat fixed;
        }

        .jumbotron {
            background: none !important;
        }

    </style>
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>Bienvenue sur Quark !</h1>
        <p>Découvrez des restaurants, bars, événements près de chez vous !</p>
        <p>Le but de cette application web est de regrouper toutes les informations sur les bons plans étudiants en vous faisant participer. Il permet également aux différents établissements d'afficher, sur application web, leurs offres à votre destination. Ici, tout est fait pour vous rendre la vie plus pratique et moins cher ;)</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a></p>
    </div>


    <div class="row">

    {% for activity in activities %}
        {% set var = {'activity': activity} %}
        {% include 'activity/activity_list_partial.html.twig' %}
    {% endfor %}

    </div>


{% endblock %}
