{% extends 'layout.html.twig' %}


{% block content %}

    <div>
        <h1>quark.website application</h1>
    </div>

    <div>
        <h2>Libertés individuelles</h2>
    </div>

    <div>
        <p>
            La banalisation de l'informatique fait courir des risques à l'individu. En effet il est facile grâce à l'informatique de créer des bases de données contenant des informations sur des personnes, et que celles-ci se diffusent. L'informatique doit être au service du citoyen et ne doit le desservir ni en termes de libertés individuelles ou publiques, ni en terme de vie privée.
            Dans le cas d'une liste informatique d'une bibliothèque municipale, les informations contenues dans les fichiers ne sont pas de caractère à nuire aux personnes listées, par contre dans le cas d'un hôpital par exemple, les données stockées sont beaucoup plus sensibles. Ainsi, il existe un organisme chargé de la défense du droit des personnes vis-à-vis des informations les concernant : la CNIL (Commission nationale de l'informatique et des libertés, créée en janvier 1978), chargée de s'assurer que les traitements concernant des informations à caractère personnel soient conformes à la loi. En outre, il est formellement interdit de collecter des données nominatives faisant apparaître, de manière directe ou indirecte, les origines raciales, les convictions politiques ou religieuses d'individus.
         </p>
         <p>   
            La loi informatique et libertés reconnaît un droit d'accès et de rectification aux données concernant les individus. La loi définit notamment les droits suivants :
            <UL TYPE="square">
                <LI>Droit à l'information préalable : il concerne l'obligation d'informer toute personne de l'utilisation ou du stockage de données informatisées la concernant ;
                <LI>Droit de curiosité : il concède à tout individu la possibilité d'interroger un organisme afin de déterminer s'il possède des données le concernant ;
                <LI>Droit d'accès direct : il permet à tout individu d'accéder aux données le concernant ;
                <LI>Droit d'accès indirect : il prévoit un intermédiaire pour l'accès à des données sensibles ;
                <LI> Droit d'opposition : il permet de s'opposer à la collecte de données individuelles, dès lors que la collecte n'est pas rendue obligatoire par la loi ;
                <LI>Droit de rectification : il autorise tout individu à demander la correction des données le concernant en cas d'erreur. Par ailleurs l'organisme détenant les informations a l'obligation de les rectifier dès lors qu'elle est au courant qu'elles sont erronées ;
                <LI>Droit à l'oubli : il prévoit que les données informatisées soient détruites au bout d'un certain temps, ce afin de protéger les individus.
            </UL>
        </p>
        <br />
    
         <h3>Teneur des informations collectées</h3>
        <p> 
            Nous collectons et stockons les informations que vous indiquez sur notre application ou que vous nous transmettez par tout autre moyen. 
            Celles-ci peuvent être utilisées pour vous identifier ou vous contacter directement et constituent vos informations personnelles.
        </p>
        <p>
            Les informations personnelles incluent les informations que vous nous indiquez, notamment vos nom et prénom, votre numéro de téléphone, adresses postale et électronique, votre pseudonyme et mot de passe.
        </p>
        <p>
            Vous pouvez décider de ne pas nous communiquer ce type d'informations personnelles. Cependant, sans ces informations, vous ne pourrez profiter de l’ensemble des services que vous nous proposons. Ainsi, seuls les membres enregistrés peuvent écrire un avis, poster de nouveaux bons plans, participer aux forums de discussion, envoyer par e-mail des informations, accéder aux newsletters réservées aux membres, répondre à des enquêtes, participer à des jeux-concours ou à des tirages au sort. 
        
        <p>
            Parmi les autres informations que nous pouvons avoir besoin de collecter figurent également votre adresse IP, les données d'identification de votre appareil et l'historique de navigation au sein de notre site web, dans la mesure où ces informations vous concernent.
        </p>
        
    </div>

{% endblock %}