{% extends 'layout.html.twig' %}


{% block content %}

    <div>
        <h1>Bienvenue sur Quark !</h1>
    </div>

    <div>
        <h2>Plan du site</h2>
    </div>

    <div>
        <p>
            Bonjour
        </p>
    </div>

{% endblock %}