{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <style>
        .add_button {
            margin-top: 20px;
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-11">
            <h2>{{ category.displayName }}</h2>
        </div>
        <a href="{{ path('activity_new', {'c': category.name}) }}">
            <div class="col-md-1 col-md-offset-5 col-xs-1 add_button">
                <button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
        </a>
    </div>

    <div class="col-md-12 col-xs-12">
        <div class="row">

            {% for activity in activities %}
                {% set var = {'activity': activity} %}
                {% include 'activity/activity_list_partial.html.twig' %}
            {% endfor %}

        </div>
    </div>

{% endblock %}
