{% extends 'layout.html.twig' %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            var button = document.getElementById('button_create');
            button.addEventListener("touchstart", function () {
                console.log("OK");
            }, false);
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        .add_button {
            margin-top: 20px;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-11">
            <h2>{{ category.displayName }}</h2>
        </div>
        <div class="col-md-1 col-md-offset-5 col-xs-1 add_button">
            <a id="button_create" href="{{ path('activity_new', {'c': category.name}) }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>

    <div class="col-md-12 col-xs-12">
        <div class="row">

            {% for activity in activities %}
                {% set var = {'activity': activity} %}
                {% include 'activity/activity_list_partial.html.twig' %}
            {% endfor %}

        </div>
    </div>

{% endblock %}
